
<p>
<canvas id="canvas" width="400" height="300" style="border:1px solid #000000;">
  </canvas>
</p>
<p>
<button onclick="Square()">Square</button>
<button onclick="Circle()">Circle</button>
