<p id="notice"><%= notice %></p>

<h1>Scoreboard</h1>


  <table cellpadding="10" class="table-bordered table-striped">
  <thead>
    <tr>
      
      <th>  Name  </th>
      <th>  School  </th>
      <th>  Score  </th>
      
    </tr>
  </thead>

  <tbody>
    <% @scoreboard.each do |s| %>
      <tr>
          <%= s.name %></td>
          <%= s.school %></td>
          <%= s.score %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

