<p id="notice"><%= notice %></p>

<center><h1>LEADERBOARD</h1></center>

  <table id="test" class="table-bordered table-striped table" >
  <thead>
    <tr>
      <th class="w-1">Rank</th>   
      <th class="w-50">Name</th>
      <th class="w-50">School</th>
      <th class="w-1">Score</th>
    </tr>
  </thead>

  <tbody>
      <% @users.order(:print_score).reverse_order.each do |s|  %>
      <tr> 
          <td align="center" > # </td>
          <td ><%= s.scoreboard_name %></td>
          <td ><%= s.scoreboard_school %></td>
          <td ><%= s.print_score %></td>
      </tr>
      <%end%>
  </tbody>
</table>

<br>

<script>
 var tableRef = document.getElementsByTagName("tr");
// console.log(tableRef.length);
for (var i = 1; i < tableRef.length; ++i) {
      tableRef[i].cells["0"].innerText = i;
}
</script>